<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/category/category-page-style.css">
    <link rel="stylesheet" type="text/css" href="css/elements/footer-style.css">

</head>
<body>

<header th:insert="elements/navbar.html :: header"></header>
<div class="container">

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">User List</h4>
            <p class="text-center">Here you can change user role</p>
            <hr>
            <div th:each="user:${allUsers}">
                <form method="post" th:action="@{/userlist/edit}">
                    <input type="text" hidden required name="username" th:value="${user.username}">
                    <p class="font-weight-bold" th:text="${user.username}"></p>
                    <input th:checked="${user.roles.contains('ROLE_ADMIN')}" type="radio" id="admin" name="role" value="admin">
                    <label for="admin">Admin</label>
                    <input th:checked="${!user.roles.contains('ROLE_ADMIN')}" type="radio" id="user" name="role" value="user">
                    <label for="user">User</label>
                    <input type="submit" value="Submit">
                </form>
                <hr>
            </div>
        </article>
    </div>

</div>
<br><br><br>
<footer class="footer" th:insert="elements/footer.html :: footer"></footer>
</body>
</html>