<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<!--    <link rel="stylesheet" type="text/css" href="css/product/form.css">-->
    <link rel="stylesheet" type="text/css" href="css/elements/footer-style.css">

</head>
<body>

<header th:insert ="elements/navbar.html :: header"></header>
<div class="container">

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center" th:text="${userSummary.username}">User</h4>
            <p class="text-center">You can edit your profile here:</p>
            <hr>
            <form th:action="@{/profile/edit}" th:method="post" th:object="${editUserCommand}">
                <p  class="text-center font-weight-bold" style="margin-bottom: 0px" >First name:</p>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-user-circle"></i> </span>
                    </div>
                    <input type="text" th:placeholder="*{firstName}" name="firstName">
                </div>
                <p  class="text-center font-weight-bold" style="margin-bottom: 0px" >Last name:</p>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-user-circle"></i> </span>
                    </div>
                    <input type="text" th:placeholder="*{lastName}" name="lastName">
                </div>
                <p  class="text-center font-weight-bold" style="margin-bottom: 0px" >Address:</p>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-globe"></i> </span>
                    </div>
                    <input type="text" th:placeholder="*{address}" name="address">
                </div>
                <p  class="text-center font-weight-bold" style="margin-bottom: 0px" >Zip code:</p>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-globe"></i> </span>
                    </div>
                    <input type="text" th:placeholder="*{zipCode}" name="zipCode">
                </div>
                <p  class="text-center font-weight-bold" style="margin-bottom: 0px" >City:</p>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-globe"></i> </span>
                    </div>
                    <input type="text" th:placeholder="*{city}" name="city">
                </div>
                <p  class="text-center font-weight-bold" style="margin-bottom: 0px" >Phone number:</p>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fas fa-phone"></i> </span>
                    </div>
                    <input type="text" th:placeholder="*{phoneNumber}" name="phoneNumber">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Edit  </button>
                    <div th:if="${#fields.hasGlobalErrors()}" th:value="${#fields.globalErrors()}"></div>
                </div>
            </form>
        </article>
    </div>
</div>

<hr><hr><hr>
<footer class="footer" th:insert="elements/footer.html :: footer"></footer>
</body>
</html>