<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/elements/footer-style.css">
    <link rel="stylesheet" type="text/css" href="css/cart/cart-page.css">

</head>
<body>

<header th:insert="elements/navbar.html :: header"></header>

<div class="container mt-5 mb-5 div-cart-page  card bg-light">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-2">
                <h4 class="card-title mt-3 text-center font-weight-bold">Shopping cart</h4>
            </div>
            <hr>

            <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded"
                 th:each="product:${allProducts}">
                <div class="mr-1"><img th:each="photo,photoStats:${product.photos}" th:if="${photoStats.index == 0}"
                                       class="rounded"
                                       th:src="@{'/product-images/' + ${product.id} + '/' + ${photo.getPath()}}"
                                       width="70"></div>
                <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold"
                                                                                         th:text="${product.name}">Product Name</span>
                </div>
                <div>
                    <h5 class="text-grey" th:text="${product.price}">9999</h5>
                </div>
                <div class="d-flex align-items-center"><a th:href="@{/cart/delete/{name}(name = ${product.name})}"><i
                        class="fa fa-trash mb-1 text-danger"></i></a></div>
            </div>

            <br>
            <hr>
            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><span class="font-weight-bold">Total to pay</span>
            </div>
            <hr>
            <div class="d-flex flex-row mt-3 p-2 bg-white rounded"><span
                    class="font-weight-bold">Shipping information:</span>
                <div>
                    <br>
                    <div>
                        <p>First Name: <span class="font-weight-bold"
                                             th:text="${currentUser.firstName}">First name.</span></p>
                    </div>
                    <div>
                        <p>Last Name: <span class="font-weight-bold" th:text="${currentUser.lastName}">Last name.</span>
                        </p>

                    </div>
                    <div>
                        <p>Address: <span class="font-weight-bold" th:text="${currentUser.address}">Address.</span></p>
                    </div>
                    <div>
                        <p>Zip code: <span class="font-weight-bold" th:text="${currentUser.zipCode}">Zip code.</span>
                        </p>
                    </div>
                    <div>
                        <p>City: <span class="font-weight-bold" th:text="${currentUser.city}">City.</span></p>
                    </div>
                    <div>
                        <p>Phone number: <span class="font-weight-bold" th:text="${currentUser.phoneNumber}">Phone number.</span>
                        </p>
                    </div>
                    <hr>
                    <p class="text-center font-weight-bold">Change shipping details <a href="/profile">Edit</a></p>
                </div>
            </div>
            <hr>
            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
                <button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button">Proceed to Pay</button>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<footer class="footer" th:insert="elements/footer.html :: footer"></footer>
</body>
</html>