<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/category/category-page-style.css">
    <link rel="stylesheet" type="text/css" href="css/elements/footer-style.css">

</head>
<body>

<header th:insert ="elements/navbar.html :: header"></header>
<div class="container">

    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Add Category</h4>
            <hr>
            <form th:action="@{/category/add}" th:method="post" th:object="${addCategoryCommand}">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-box"></i> </span>
                    </div>
                    <input th:field="*{name}" name="" class="form-control" placeholder="Category name" type="text">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create  </button>
                </div>
            </form>
        </article>
    </div>

</div>

<footer class="footer" th:insert="elements/footer.html :: footer"></footer>
</body>
</html>